* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2 linear;
}
body {
  background-color: rgb(251, 255, 9);
}
/* nav style */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9%;
  z-index: 10000;
  /* margin: 10px; */
}
.header .logo {
  font-size: 3rem;
  font-weight: 1.5rem;
  color: yellow;
  font-family: Edwardian Script ITC;
}
.navbar-fixed-top .scrolled {
  background-color: #fff !important;
  color: black;
  transition: background-color 200ms linear;
}
.header .navbar a {
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.2rem;
  color: yellow;
}

.header .navbar a:hover {
  background-color: yellow;
  color: rgb(0, 0, 0);
}
.mainimg {
  margin-top: 80px;
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
/* home style */
.home {
  background-image: url("img/mainimg.jpg");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.imgcontent {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.imgcontent h1 {
  font-size: 70px;
  color: yellow;
}
.imgcontent h1 span {
  color: white;
}
.imgcontent p {
  margin-top: 10px;
  font-size: 30px;
  top: 10px;
  color: yellow;
}
.imgcontent button {
  margin-top: 30px;
  font-size: 16px;
  padding: 16px 20px;
  background-color: yellow;
  color: black;
}
/* popup form style */
.form-popup {
  display: none;
  position: fixed;
  top: 0px;
  left: 50px;
  bottom: 0px;
}
.form-container h2 {
  margin-bottom: 5px;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  border: 15px solid yellow;
}
.form-container label {
  color: rgb(255, 255, 255);
  text-align: left;
}
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
.ceo {
  margin-top: 50px;
  text-align: center;
}
.ceo h2 {
  margin-top: 20px;
  font-size: 50px;
}
.ceo p {
  padding: 10px 80px;
}
.address {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: yellow;
  padding: 5rem;
}
.address h2,
.address p {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}
.part {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 10px;
}
.item {
  flex: 1 1 auto;
  padding: 50px;
}
img {
  max-width: 100%;
}
.item p span {
  font-size: 1.5rem;
  font-weight: 600;
}
.package {
  background-color: black;
  padding: 100px;
}
.priceheading {
  text-align: center;
  font-size: 50px;
  padding: 10px;
  color: yellow;
}
.pricecard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.columns {
  float: left;
  width: 25%;
  padding: 8px;
}

.price {
  list-style-type: none;
  border: 1px solid yellow;
  margin: 0;
  padding: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price li {
  border-bottom: 1px solid yellow;
  padding: 20px;
  text-align: center;
  color: yellow;
}

.price .grey {
  background-color: yellow;
  color: #000000;
  font-size: 20px;
}

.buttonn {
  background-color: #000000;
  border: none;
  color: yellow;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.thead {
  padding: 50px;
  text-align: center;
  font-size: 50px;
}
.trainerssection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.card {
  flex: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 20px;
}
.card h1 {
  margin-top: 20px;
}

.title {
  color: grey;
  font-size: 18px;
  margin: 5px;
}

a button {
  margin-top: 80px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
