@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

 body{
background-image:url("https://wallpapers.com/images/featured/n2m084c6sp4dxsfa.jpg");
   height: 90%;
   width: 99%;
  background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
  
}

.navbar{
  display: flex;
  padding: 5px;
}

.navbar .logo{
  padding-top: 6px;
  flex:60%;
  text-decoration:none; 
  color:#000000;
  font-size: 3rem;
  font-weight: 700;
  font-family: Edwardian Script ITC;
}
ul{
  flex:40%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  
}

ul li .items{
  text-decoration: none;
  color:#000000;
  font-size: 17px;
  font-weight: 400;
  font-family: Georgia, serif;
}

/*child menu*/
li a::before {
  content: '';/*have to write content for before and after */
  position: absolute;
  top:50px;
  width: 0%;
  height: 3px;/*height of line*/
  background: #ff007b;
  transition: all 0.3s linear;/*on mouse click effect on all item for 0.3s in linear */

}
li a:hover::before{
  width: 4rem;
}

  .heading {
   text-align: center;
    
  }
  .heading h1{
    color: #ff007b;
    font-size: 4rem;
    font-family: Edwardian Script ITC;
    margin-top: 7rem;
    margin-bottom: 0rem;
  }
  .heading h3{
    font-size: 1.2rem;
  }
  .btn{
    text-align:center;
  }
  .button {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: 3px solid #ff007b;
  border-radius: 2.2rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 15px 32px;
  cursor: pointer;
  margin-right: 10px;
  size: lagre;
}
  .icons{
    color: #ff007b;
     position: absolute;
        bottom: 0;
         left:45%;
  }
 .icons i{
     margin-left: 5px;
  }
/* service page style  */
.headingservice{
  display: flex;
  margin-top: 20px;
  padding: 20px;
}
.headingservice h1{
  font-family: Edwardian Script ITC;
  color: #ff007b;
  margin-right: 10px;
}
.mapvideo{
 display: flex;
  justify-content: center;
  align-items: center;
  
}

 .mapouter {
        position: relative;
        text-align: right;
        width: 660px;
        height: 416px;
        
      }

      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 500px;
        height: 416px;
      }

      .gmap_iframe {
        width: 400px !important;
        height: 400px !important;
      }
<style type="text/css">
.form-style-3{
	max-width: 450px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.form-style-3 fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}
.required{
	color:red;
	font-weight:normal;
}
 .places-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 75vh;
  }
  .places-container img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: rgb(223, 222, 222);
    gap: 20px;
    background-color: rgba(64, 68, 68, 0.209);
    box-shadow: 2px 2px 10px 5px rgba(53, 52, 52, 0.6);
    padding: 50px 20px;
  }
  .card:hover {
    box-shadow: 2px 2px 10px 5px rgba(124, 121, 121, 0.6);
  }
</style>